<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.jinbao.innerapi.jinbaocommon.dao.mapper.MerchantInfoMapper">

  <resultMap id="BaseResultMap" type="com.baidu.jinbao.innerapi.jinbaocommon.bo.MerchantInfo">
			<id     column="id"		jdbcType="BIGINT"		property="id" />
	 		<result column="ucid"		jdbcType="BIGINT"		property="ucid" />
			<result column="name"		jdbcType="VARCHAR"		property="name" />
			<result column="addtime"		jdbcType="TIMESTAMP"		property="addtime" />
			<result column="updatetime"		jdbcType="TIMESTAMP"		property="updatetime" />
	  </resultMap>
  
  <sql id="Base_Column_List">
	id,ucid,name,addtime,updatetime  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_info
    where 1=1  and id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_info
    where 1=1 and id = #{id,jdbcType=BIGINT}  </delete>
  
  <insert id="insert" parameterType="com.baidu.jinbao.innerapi.jinbaocommon.bo.MerchantInfo" useGeneratedKeys="true" keyProperty="id">
    insert into merchant_info 
	(id, ucid, name, addtime, updatetime)
    values 
	( #{id,jdbcType=BIGINT},#{ucid,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{addtime,jdbcType=TIMESTAMP},#{updatetime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.baidu.jinbao.innerapi.jinbaocommon.bo.MerchantInfo" useGeneratedKeys="true" keyProperty="id">
    insert into merchant_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
		
	  <if test="id != null">
        id,
      </if>
				
	  <if test="ucid != null">
        ucid,
      </if>
			
	  <if test="name != null">
        name,
      </if>
			
	  <if test="addtime != null">
        addtime,
      </if>
			
	  <if test="updatetime != null">
        updatetime,
      </if>
	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
			
	  <if test="id != null">
         #{id,jdbcType=BIGINT},
      </if>
				
	  <if test="ucid != null">
         #{ucid,jdbcType=BIGINT},
      </if>
			
	  <if test="name != null">
         #{name,jdbcType=VARCHAR},
      </if>
			
	  <if test="addtime != null">
         #{addtime,jdbcType=TIMESTAMP},
      </if>
			
	  <if test="updatetime != null">
         #{updatetime,jdbcType=TIMESTAMP},
      </if>
	    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.jinbao.innerapi.jinbaocommon.bo.MerchantInfo">
    update merchant_info
    <set>      <if test="ucid != null">
        ucid = #{ucid,jdbcType=BIGINT},
      </if>
	        <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
	        <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
	        <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
	      </set>
    where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.baidu.jinbao.innerapi.jinbaocommon.bo.MerchantInfo">
    update merchant_info
    set 
     	ucid = #{ucid,jdbcType=BIGINT},
    	name = #{name,jdbcType=VARCHAR},
    	addtime = #{addtime,jdbcType=TIMESTAMP},
    	updatetime = #{updatetime,jdbcType=TIMESTAMP}
        where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>

</mapper>