<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.jinbao.innerapi.category.dao.mapper.BaseValMapper">
	<!-- ===========================SELECT======================== -->
	<select id="batchSelect" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM base_val
		WHERE id IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")"> #{item}</foreach>
	</select>
	<!-- =============================DELETE===================== -->
	<delete id="batchDelete">
		DELETE FROM base_val
		WHERE id IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">#{item}</foreach>
	</delete>
	<!-- =========================INSERT========================= -->
	<insert id="batchInsert">
		INSERT INTO base_val
		(
		value
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.value,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	<!-- =========================UPDATE========================= -->
	<update id="batchUpdate">
		UPDATE
		base_val
		<trim prefix="SET" suffixOverrides=",">
			<trim prefix="value=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.value!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.value,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE id IN
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>
</mapper>
