<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.baidu.jinbao.innerapi.category.dao.mapper.BaseCmPropertyMapper">

	<resultMap id="BaseResultMap"
		type="com.baidu.jinbao.innerapi.category.bo.BaseCmProperty">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>

	<sql id="Base_Column_List">
		id,name
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_cm_property
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		base_cm_property
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert"
		parameterType="com.baidu.jinbao.innerapi.category.bo.BaseCmProperty"
		useGeneratedKeys="true" keyProperty="id">
		insert into base_cm_property
		(id,
		name)
		values
		( #{id,jdbcType=BIGINT},#{name,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective"
		parameterType="com.baidu.jinbao.innerapi.category.bo.BaseCmProperty"
		useGeneratedKeys="true" keyProperty="id">
		insert into base_cm_property
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="id != null">
				id,
			</if>

			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>

			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKeySelective"
		parameterType="com.baidu.jinbao.innerapi.category.bo.BaseCmProperty">
		update base_cm_property
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>



	<update id="updateByPrimaryKey"
		parameterType="com.baidu.jinbao.innerapi.category.bo.BaseCmProperty">
		update base_cm_property
		set
		name =
		#{name,jdbcType=VARCHAR}
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>

</mapper>