<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.jinbao.innerapi.category.dao.mapper.CategoryMapMapper">

  <resultMap id="BaseResultMap" type="com.baidu.jinbao.innerapi.category.bo.CategoryMap">
			<id     column="id"		jdbcType="BIGINT"		property="id" />
	 		<result column="cm_cid"		jdbcType="INTEGER"		property="cmCid" />
			<result column="base_cid"		jdbcType="INTEGER"		property="baseCid" />
			<result column="active"		jdbcType="TINYINT"		property="active" />
			<result column="updatetime"		jdbcType="TIMESTAMP"		property="updatetime" />
	  </resultMap>
  
  <sql id="Base_Column_List">
	id,cm_cid,base_cid,active,updatetime  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category_map
    where 1=1  and id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from category_map
    where 1=1 and id = #{id,jdbcType=BIGINT}  </delete>
  
  <insert id="insert" parameterType="com.baidu.jinbao.innerapi.category.bo.CategoryMap" useGeneratedKeys="true" keyProperty="id">
    insert into category_map 
	(id, cm_cid, base_cid, active, updatetime)
    values 
	( #{id,jdbcType=BIGINT},#{cmCid,jdbcType=INTEGER},#{baseCid,jdbcType=INTEGER},#{active,jdbcType=TINYINT},#{updatetime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.baidu.jinbao.innerapi.category.bo.CategoryMap" useGeneratedKeys="true" keyProperty="id">
    insert into category_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
		
	  <if test="id != null">
        id,
      </if>
				
	  <if test="cmCid != null">
        cm_cid,
      </if>
			
	  <if test="baseCid != null">
        base_cid,
      </if>
			
	  <if test="active != null">
        active,
      </if>
			
	  <if test="updatetime != null">
        updatetime,
      </if>
	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
			
	  <if test="id != null">
         #{id,jdbcType=BIGINT},
      </if>
				
	  <if test="cmCid != null">
         #{cmCid,jdbcType=INTEGER},
      </if>
			
	  <if test="baseCid != null">
         #{baseCid,jdbcType=INTEGER},
      </if>
			
	  <if test="active != null">
         #{active,jdbcType=TINYINT},
      </if>
			
	  <if test="updatetime != null">
         #{updatetime,jdbcType=TIMESTAMP},
      </if>
	    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.jinbao.innerapi.category.bo.CategoryMap">
    update category_map
    <set>      <if test="cmCid != null">
        cm_cid = #{cmCid,jdbcType=INTEGER},
      </if>
	        <if test="baseCid != null">
        base_cid = #{baseCid,jdbcType=INTEGER},
      </if>
	        <if test="active != null">
        active = #{active,jdbcType=TINYINT},
      </if>
	        <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
	      </set>
    where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.baidu.jinbao.innerapi.category.bo.CategoryMap">
    update category_map
    set 
     	cm_cid = #{cmCid,jdbcType=INTEGER},
    	base_cid = #{baseCid,jdbcType=INTEGER},
    	active = #{active,jdbcType=TINYINT},
    	updatetime = #{updatetime,jdbcType=TIMESTAMP}
        where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>

</mapper>