<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.baidu.jinbao.innerapi.category.dao.mapper.CategoryMapMapper">
	<!-- ===========================SELECT======================== -->
	<select id="batchSelect" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM category_map
		WHERE id IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")"> #{item}</foreach>
	</select>
	<!-- =============================DELETE===================== -->
	<delete id="batchDelete">
		DELETE FROM category_map
		WHERE id IN
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">#{item}</foreach>
	</delete>
	<!-- =========================INSERT========================= -->
	<insert id="batchInsert">
		INSERT INTO category_map
		(
		cm_cid,
		base_cid,
		active,
		updatetime
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.cmCid,jdbcType=INTEGER},
			#{item.baseCid,jdbcType=INTEGER},
			#{item.active,jdbcType=TINYINT},
			#{item.updatetime,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
	<!-- =========================UPDATE========================= -->
	<update id="batchUpdate">
		UPDATE
		category_map
		<trim prefix="SET" suffixOverrides=",">
			<trim prefix="cm_cid=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.cmCid!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.cmCid,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="base_cid=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.baseCid!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.baseCid,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="active=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.active!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.active,jdbcType=TINYINT}
					</if>
				</foreach>
			</trim>
			<trim prefix="updatetime=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.updatetime!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.updatetime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE id IN
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>
</mapper>
