<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.jinbao.innerapi.category.dao.mapper.CmPropertyValueMapper">

  <resultMap id="BaseResultMap" type="com.baidu.jinbao.innerapi.category.bo.CmPropertyValue">
			<id     column="id"		jdbcType="BIGINT"		property="id" />
	 		<result column="cid"		jdbcType="INTEGER"		property="cid" />
			<result column="cm_pid"		jdbcType="INTEGER"		property="cmPid" />
			<result column="dic_vid"		jdbcType="INTEGER"		property="dicVid" />
			<result column="pos"		jdbcType="INTEGER"		property="pos" />
			<result column="active"		jdbcType="TINYINT"		property="active" />
			<result column="updatetime"		jdbcType="TIMESTAMP"		property="updatetime" />
	  </resultMap>
  
  <sql id="Base_Column_List">
	id,cid,cm_pid,dic_vid,pos,active,updatetime  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_property_value
    where 1=1  and id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cm_property_value
    where 1=1 and id = #{id,jdbcType=BIGINT}  </delete>
  
  <insert id="insert" parameterType="com.baidu.jinbao.innerapi.category.bo.CmPropertyValue" useGeneratedKeys="true" keyProperty="id">
    insert into cm_property_value 
	(id, cid, cm_pid, dic_vid, pos, active, updatetime)
    values 
	( #{id,jdbcType=BIGINT},#{cid,jdbcType=INTEGER},#{cmPid,jdbcType=INTEGER},#{dicVid,jdbcType=INTEGER},#{pos,jdbcType=INTEGER},#{active,jdbcType=TINYINT},#{updatetime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.baidu.jinbao.innerapi.category.bo.CmPropertyValue" useGeneratedKeys="true" keyProperty="id">
    insert into cm_property_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
		
	  <if test="id != null">
        id,
      </if>
				
	  <if test="cid != null">
        cid,
      </if>
			
	  <if test="cmPid != null">
        cm_pid,
      </if>
			
	  <if test="dicVid != null">
        dic_vid,
      </if>
			
	  <if test="pos != null">
        pos,
      </if>
			
	  <if test="active != null">
        active,
      </if>
			
	  <if test="updatetime != null">
        updatetime,
      </if>
	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
			
	  <if test="id != null">
         #{id,jdbcType=BIGINT},
      </if>
				
	  <if test="cid != null">
         #{cid,jdbcType=INTEGER},
      </if>
			
	  <if test="cmPid != null">
         #{cmPid,jdbcType=INTEGER},
      </if>
			
	  <if test="dicVid != null">
         #{dicVid,jdbcType=INTEGER},
      </if>
			
	  <if test="pos != null">
         #{pos,jdbcType=INTEGER},
      </if>
			
	  <if test="active != null">
         #{active,jdbcType=TINYINT},
      </if>
			
	  <if test="updatetime != null">
         #{updatetime,jdbcType=TIMESTAMP},
      </if>
	    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.jinbao.innerapi.category.bo.CmPropertyValue">
    update cm_property_value
    <set>      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
	        <if test="cmPid != null">
        cm_pid = #{cmPid,jdbcType=INTEGER},
      </if>
	        <if test="dicVid != null">
        dic_vid = #{dicVid,jdbcType=INTEGER},
      </if>
	        <if test="pos != null">
        pos = #{pos,jdbcType=INTEGER},
      </if>
	        <if test="active != null">
        active = #{active,jdbcType=TINYINT},
      </if>
	        <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
	      </set>
    where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.baidu.jinbao.innerapi.category.bo.CmPropertyValue">
    update cm_property_value
    set 
     	cid = #{cid,jdbcType=INTEGER},
    	cm_pid = #{cmPid,jdbcType=INTEGER},
    	dic_vid = #{dicVid,jdbcType=INTEGER},
    	pos = #{pos,jdbcType=INTEGER},
    	active = #{active,jdbcType=TINYINT},
    	updatetime = #{updatetime,jdbcType=TIMESTAMP}
        where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>

</mapper>