<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.jinbao.innerapi.sku.dao.mapper.SkuCommentMapper">
	<!-- ===========================SELECT======================== -->
	<select id="batchSelect" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM sku_comment_${splitNumber}
		<where>
			<if test="condition.idList != null and condition.idList.size() > 0">
				id IN
				<foreach item="item" index="index" collection="condition.idList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if
				test="condition.skuInnerIdList != null and condition.skuInnerIdList.size() > 0">
				AND sku_innerid IN
				<foreach item="item" index="index" collection="condition.skuInnerIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if test="condition.skuIdList != null and condition.skuIdList.size() > 0">
				AND skuid IN
				<foreach item="item" index="index" collection="condition.skuIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
		</where>
	</select>
	<!-- =============================DELETE===================== -->
	<delete id="batchDelete">
		DELETE FROM sku_comment_${splitNumber}
		<where>
			<if test="condition.idList != null and condition.idList.size() > 0">
				id IN
				<foreach item="item" index="index" collection="condition.idList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if
				test="condition.skuInnerIdList != null and condition.skuInnerIdList.size() > 0">
				AND sku_innerid IN
				<foreach item="item" index="index" collection="condition.skuInnerIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if test="condition.skuIdList != null and condition.skuIdList.size() > 0">
				AND skuid IN
				<foreach item="item" index="index" collection="condition.skuIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
		</where>
	</delete>
	<!-- =========================INSERT========================= -->
	<insert id="batchInsert">
		INSERT INTO sku_comment_${splitNumber}
		(
		sku_innerid,
		skuid,
		reviewcount,
		goodcount,
		medcount,
		badcount,
		tags,
		score,
		addtime,
		updatetime
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.skuInnerid,jdbcType=BIGINT},
			#{item.skuid,jdbcType=VARCHAR},
			#{item.reviewcount,jdbcType=INTEGER},
			#{item.goodcount,jdbcType=INTEGER},
			#{item.medcount,jdbcType=INTEGER},
			#{item.badcount,jdbcType=INTEGER},
			#{item.tags,jdbcType=VARCHAR},
			#{item.score,jdbcType=DOUBLE},
			#{item.addtime,jdbcType=TIMESTAMP},
			#{item.updatetime,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
	<!-- =========================UPDATE========================= -->
	<update id="batchUpdate">
		UPDATE
		sku_comment_${splitNumber}
		<trim prefix="SET" suffixOverrides=",">
			<trim prefix="sku_innerid=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.skuInnerid!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.skuInnerid,jdbcType=BIGINT}
					</if>
				</foreach>
			</trim>
			<trim prefix="skuid=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.skuid!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.skuid,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="reviewcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.reviewcount!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.reviewcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="goodcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.goodcount!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.goodcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="medcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.medcount!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.medcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="badcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.badcount!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.badcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="tags=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.tags!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.tags,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="score=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.score!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.score,jdbcType=DOUBLE}
					</if>
				</foreach>
			</trim>
			<trim prefix="addtime=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.addtime!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.addtime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
			<trim prefix="updatetime=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.updatetime!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.updatetime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE id IN
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>

	<!-- ========================Batch UPDATE By Key========================= -->
	<update id="batchUpdateByKey">
		UPDATE
		sku_comment_${splitNumber}
		<trim prefix="SET" suffixOverrides=",">
			<trim prefix="sku_innerid=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.skuInnerid!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.skuInnerid,jdbcType=BIGINT}
					</if>
				</foreach>
			</trim>
			<trim prefix="reviewcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.reviewcount!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.reviewcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="goodcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.goodcount!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.goodcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="medcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.medcount!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.medcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="badcount=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.badcount!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.badcount,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="tags=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.tags!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.tags,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="score=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.score!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.score,jdbcType=DOUBLE}
					</if>
				</foreach>
			</trim>
			<trim prefix="addtime=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.addtime!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.addtime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
			<trim prefix="updatetime=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.updatetime!=null">
						WHEN skuid = #{item.skuid,jdbcType=VARCHAR}
						THEN
						#{item.updatetime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE skuid IN
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item.skuid,jdbcType=VARCHAR}
		</foreach>
	</update>
</mapper>
