<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.jinbao.innerapi.sku.dao.mapper.SkuLevelMapper">

  <resultMap id="BaseResultMap" type="com.baidu.jinbao.innerapi.sku.bo.SkuLevel">
			<id     column="id"		jdbcType="BIGINT"		property="id" />
	 		<result column="sku_innerid"		jdbcType="BIGINT"		property="skuInnerid" />
			<result column="skuid"		jdbcType="VARCHAR"		property="skuid" />
			<result column="level"		jdbcType="INTEGER"		property="level" />
			<result column="addtime"		jdbcType="TIMESTAMP"		property="addtime" />
			<result column="updatetime"		jdbcType="TIMESTAMP"		property="updatetime" />
	  </resultMap>
  
  <sql id="Base_Column_List">
	id,sku_innerid,skuid,level,addtime,updatetime  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sku_level
    where 1=1  and id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sku_level
    where 1=1 and id = #{id,jdbcType=BIGINT}  </delete>
  
  <insert id="insert" parameterType="com.baidu.jinbao.innerapi.sku.bo.SkuLevel" useGeneratedKeys="true" keyProperty="id">
    insert into sku_level 
	(id, sku_innerid, skuid, level, addtime, updatetime)
    values 
	( #{id,jdbcType=BIGINT},#{skuInnerid,jdbcType=BIGINT},#{skuid,jdbcType=VARCHAR},#{level,jdbcType=INTEGER},#{addtime,jdbcType=TIMESTAMP},#{updatetime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.baidu.jinbao.innerapi.sku.bo.SkuLevel" useGeneratedKeys="true" keyProperty="id">
    insert into sku_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
		
	  <if test="id != null">
        id,
      </if>
				
	  <if test="skuInnerid != null">
        sku_innerid,
      </if>
			
	  <if test="skuid != null">
        skuid,
      </if>
			
	  <if test="level != null">
        level,
      </if>
			
	  <if test="addtime != null">
        addtime,
      </if>
			
	  <if test="updatetime != null">
        updatetime,
      </if>
	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
			
	  <if test="id != null">
         #{id,jdbcType=BIGINT},
      </if>
				
	  <if test="skuInnerid != null">
         #{skuInnerid,jdbcType=BIGINT},
      </if>
			
	  <if test="skuid != null">
         #{skuid,jdbcType=VARCHAR},
      </if>
			
	  <if test="level != null">
         #{level,jdbcType=INTEGER},
      </if>
			
	  <if test="addtime != null">
         #{addtime,jdbcType=TIMESTAMP},
      </if>
			
	  <if test="updatetime != null">
         #{updatetime,jdbcType=TIMESTAMP},
      </if>
	    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.jinbao.innerapi.sku.bo.SkuLevel">
    update sku_level
    <set>      <if test="skuInnerid != null">
        sku_innerid = #{skuInnerid,jdbcType=BIGINT},
      </if>
	        <if test="skuid != null">
        skuid = #{skuid,jdbcType=VARCHAR},
      </if>
	        <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
	        <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
	        <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
	      </set>
    where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.baidu.jinbao.innerapi.sku.bo.SkuLevel">
    update sku_level
    set 
     	sku_innerid = #{skuInnerid,jdbcType=BIGINT},
    	skuid = #{skuid,jdbcType=VARCHAR},
    	level = #{level,jdbcType=INTEGER},
    	addtime = #{addtime,jdbcType=TIMESTAMP},
    	updatetime = #{updatetime,jdbcType=TIMESTAMP}
        where 1=1 and id = #{id,jdbcType=BIGINT}  
  </update>

</mapper>