<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.jinbao.innerapi.sku.dao.mapper.SkuLevelMapper">
	<!-- ===========================SELECT======================== -->
	<select id="batchSelect" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM sku_level_${splitNumber}
		<where>
			<if test="condition.idList != null and condition.idList.size() > 0">
				id IN
				<foreach item="item" index="index" collection="condition.idList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if
				test="condition.skuInnerIdList != null and condition.skuInnerIdList.size() > 0">
				AND sku_innerid IN
				<foreach item="item" index="index" collection="condition.skuInnerIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if test="condition.skuIdList != null and condition.skuIdList.size() > 0">
				AND skuid IN
				<foreach item="item" index="index" collection="condition.skuIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
		</where>
	</select>
	<!-- =============================DELETE===================== -->
	<delete id="batchDelete">
		DELETE FROM sku_level_${splitNumber}
		<where>
			<if test="condition.idList != null and condition.idList.size() > 0">
				id IN
				<foreach item="item" index="index" collection="condition.idList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if
				test="condition.skuInnerIdList != null and condition.skuInnerIdList.size() > 0">
				AND sku_innerid IN
				<foreach item="item" index="index" collection="condition.skuInnerIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
			<if test="condition.skuIdList != null and condition.skuIdList.size() > 0">
				AND skuid IN
				<foreach item="item" index="index" collection="condition.skuIdList"
					open="(" separator="," close=")"> #{item}</foreach>
			</if>
		</where>
	</delete>
	<!-- =========================INSERT========================= -->
	<insert id="batchInsert">
		INSERT INTO sku_level_${splitNumber}
		(
		sku_innerid,
		skuid,
		level,
		addtime,
		updatetime
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.skuInnerid,jdbcType=BIGINT},
			#{item.skuid,jdbcType=VARCHAR},
			#{item.level,jdbcType=INTEGER},
			#{item.addtime,jdbcType=TIMESTAMP},
			#{item.updatetime,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
	<!-- =========================UPDATE========================= -->
	<update id="batchUpdate">
		UPDATE
		sku_level_${splitNumber}
		<trim prefix="SET" suffixOverrides=",">
			<trim prefix="sku_innerid=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.skuInnerid!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.skuInnerid,jdbcType=BIGINT}
					</if>
				</foreach>
			</trim>
			<trim prefix="skuid=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.skuid!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.skuid,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="level=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.level!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.level,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="addtime=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.addtime!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.addtime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
			<trim prefix="updatetime=CASE" suffix="END,">
				<foreach collection="list" item="item" index="index"
					separator=" ">
					<if test="item.updatetime!=null">
						WHEN id = #{item.id,jdbcType=BIGINT}
						THEN
						#{item.updatetime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE id IN
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>
	<!-- =========================UPDATE BY SKUID========================= -->
    <update id="updateBySkuId">
        update sku_level_${splitNumber}
        <set>
            <if test="item.skuInnerid != null">
                sku_innerid = #{item.skuInnerid,jdbcType=BIGINT},
            </if>
            <if test="item.level != null">
                level = #{item.level,jdbcType=INTEGER},
            </if>
            <if test="item.addtime != null">
                addtime = #{item.addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.updatetime != null">
                updatetime = #{item.updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where 1=1 and skuid = #{item.skuid,jdbcType=VARCHAR}
    </update>
</mapper>
