<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.jinbao.mall.item.dao.mapper.ItemDescriptionMapper">
	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from item_description
		where 1=1 and itemid = #{itemid,jdbcType=BIGINT}
	</select>

	<update id="update" parameterType="com.baidu.jinbao.mall.item.bo.ItemDescription">
		update item_description
		<set>
			<if test="merchantid != null">
				merchantid = #{merchantid,jdbcType=INTEGER},
			</if>
			<if test="shopid != null">
				shopid = #{shopid,jdbcType=INTEGER},
			</if>
			<if test="itemid != null">
				itemid = #{itemid,jdbcType=BIGINT},
			</if>
			<if test="itemDescOri != null">
				item_desc_ori = #{itemDescOri,jdbcType=LONGVARBINARY},
			</if>
			<if test="pdMd5 != null">
				pd_md5 = #{pdMd5,jdbcType=CHAR},
			</if>
			<if test="itemDesc != null">
				item_desc = #{itemDesc,jdbcType=LONGVARBINARY},
			</if>
			<if test="addtime != null">
				addtime = #{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where 1=1 and itemid = #{itemid,jdbcType=BIGINT}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from item_description
		where 1=1 and itemid = #{itemid,jdbcType=BIGINT}
	</delete>
	<insert id="insertOne" parameterType="com.baidu.jinbao.mall.item.bo.ItemDescription"
		useGeneratedKeys="true" keyProperty="id">
		insert into item_description
		(merchantid, shopid, itemid, item_desc_ori, pd_md5, item_desc,
		addtime, updatetime)
		values
		(
		#{merchantid,jdbcType=INTEGER},#{shopid,jdbcType=INTEGER},#{itemid,jdbcType=BIGINT},#{itemDescOri,jdbcType=LONGVARBINARY},#{pdMd5,jdbcType=CHAR},#{itemDesc,jdbcType=LONGVARBINARY},#{addtime,jdbcType=TIMESTAMP},#{updatetime,jdbcType=TIMESTAMP})
	</insert>
</mapper>